In [1]:
#Importing the required libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn.decomposition import TruncatedSVD

In [2]:
frame = pd.read_csv('/Users/vishaladdala/Desktop/GooglePrep/data_files_ml_engineer/user_interests.csv')

In [3]:
frame.head()

   user_handle      interest_tag        date_followed
0            1   mvc-scaffolding  2017-06-27 16:26:52
1            1              mvc2  2017-06-27 16:26:52
2            1  mvc-html-helpers  2017-06-27 16:26:52
3            1          mvc4-ioc  2017-06-27 16:26:52
4            1       mvc-testing  2017-06-27 16:26:52

In [4]:
frame.shape

(297526, 3)

In [5]:
course = pd.read_csv('/Users/vishaladdala/Desktop/GooglePrep/data_files_ml_engineer/course_tags.csv')

In [6]:
course.head()

                                        course_id       course_tags
0  12-principles-animation-toon-boom-harmony-1475      2d-animation
1              2d-racing-game-series-unity-5-1312       game-design
2             2d-racing-games-unity-volume-2-1286          game-art
3             2d-racing-games-unity-volume-2-1286  digital-painting
4             2d-racing-games-unity-volume-2-1286     image-editing

In [7]:
course = course.rename(index=str, columns={"course_tags": "interest_tag"})
#renaming the column to perform a join

In [8]:
course.head()

                                        course_id      interest_tag
0  12-principles-animation-toon-boom-harmony-1475      2d-animation
1              2d-racing-game-series-unity-5-1312       game-design
2             2d-racing-games-unity-volume-2-1286          game-art
3             2d-racing-games-unity-volume-2-1286  digital-painting
4             2d-racing-games-unity-volume-2-1286     image-editing

In [9]:
combined_course_data = pd.merge(frame,course,on = 'interest_tag')

In [10]:
combined_course_data.head()

   user_handle     interest_tag        date_followed        course_id
0            1  mvc-scaffolding  2017-06-27 16:26:52  mvc-scaffolding
1            1  mvc-scaffolding  2017-06-27 16:27:34  mvc-scaffolding
2            3  mvc-scaffolding  2017-11-21 15:31:37  mvc-scaffolding
3           15  mvc-scaffolding  2017-07-02 07:53:22  mvc-scaffolding
4           20  mvc-scaffolding  2017-10-04 10:06:17  mvc-scaffolding

In [11]:
combined_course_data.shape

(7980836, 4)

In [12]:
assessment_scores = pd.read_csv('/Users/vishaladdala/Desktop/GooglePrep/data_files_ml_engineer/user_assessment_scores.csv')

In [13]:
assessment_scores.head()

   user_handle assessment_tag user_assessment_date  user_assessment_score
0         7487     angular-js  2017-08-11 19:03:38                    134
1         7487            css  2017-08-11 20:09:56                     38
2         7487          html5  2017-07-31 18:59:37                     84
3         7487           java  2017-07-31 18:49:27                    149
4         7487     javascript  2017-07-31 19:05:03                     92

In [14]:
assessment_scores = assessment_scores.rename(index=str, columns={"assessment_tag": "interest_tag"})

In [15]:
assessment_scores.head()

   user_handle interest_tag user_assessment_date  user_assessment_score
0         7487   angular-js  2017-08-11 19:03:38                    134
1         7487          css  2017-08-11 20:09:56                     38
2         7487        html5  2017-07-31 18:59:37                     84
3         7487         java  2017-07-31 18:49:27                    149
4         7487   javascript  2017-07-31 19:05:03                     92

In [16]:
view_times = pd.read_csv('/Users/vishaladdala/Desktop/GooglePrep/data_files_ml_engineer/user_course_views.csv')

In [17]:
view_times.head()

,user_handle,view_date,course_id,author_handle,level,view_time_seconds
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098
2,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406
3,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553
4,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102

In [18]:
combined_course_data_sample = combined_course_data.head(500000)

In [19]:
combined_course_data_sample.shape

(500000, 4)

In [20]:
combined_course_data_with_views = pd.merge(combined_course_data_sample,view_times,on = 'course_id')

In [21]:
combined_course_data_with_views.head(5)

,user_handle_x,interest_tag,date_followed,course_id,user_handle_y,view_date,author_handle,level,view_time_seconds
0,1,mvc-scaffolding,2017-06-27 16:26:52,mvc-scaffolding,418,2017-06-21,864,Advanced,657
1,1,mvc-scaffolding,2017-06-27 16:26:52,mvc-scaffolding,2255,2017-07-12,864,Advanced,1726
2,1,mvc-scaffolding,2017-06-27 16:26:52,mvc-scaffolding,5749,2017-09-13,864,Advanced,843
3,1,mvc-scaffolding,2017-06-27 16:26:52,mvc-scaffolding,5749,2017-09-14,864,Advanced,1161
4,1,mvc-scaffolding,2017-06-27 16:26:52,mvc-scaffolding,6974,2017-09-26,864,Advanced,592

In [22]:
crosstab_courses = combined_course_data_with_views.pivot_table(values = 'view_time_seconds',index='user_handle_x',columns = 'course_id',fill_value = 0)

In [79]:
crosstab_courses.head(5)

course_id,add-dev-console-to-your-app-with-javascript-increase-productivity,advanced-angular-workflows,advanced-javascript,advanced-js-jquery-pure-dom-scripting-fundamentals,angular-1-3,angular-2-animations,angular-2-end-to-end,angular-2-first-look,angular-2-forms,angular-2-getting-started,...,useful-jquery-plugins,using-typescript-large-angularjs-apps,vanilla-web-components-practical-guide,vuejs-getting-started,web-apps-progressive-getting-started,web-development,web-platform,web-ui-architecture,webgl-threejs-fundamentals,webpagetest-deep-dive
user_handle_x,,,,,,,,,,,,,,,,,,,,,
1,1493.8,851.75,2748.746032,1302.649123,194.941176,1285.25,1002.933635,1764.448276,1663.488688,1664.5,...,2235,1653.428571,1295.257143,1621.47549,1364.932203,2201.625,338,2698.75,1410.509434,413
3,1493.8,851.75,2748.746032,1302.649123,194.941176,1285.25,1002.933635,1764.448276,1663.488688,1664.5,...,2235,1653.428571,1295.257143,1621.47549,1364.932203,2201.625,338,2698.75,1410.509434,413
10,1493.8,851.75,2748.746032,1302.649123,0.000000,0.00,0.000000,0.000000,0.000000,0.0,...,2235,0.000000,1295.257143,1621.47549,1364.932203,0.000,0,2698.75,1410.509434,413
13,1493.8,851.75,2748.746032,1302.649123,194.941176,1285.25,1002.933635,1764.448276,1663.488688,1664.5,...,2235,1653.428571,1295.257143,1621.47549,1364.932203,0.000,0,2698.75,1410.509434,413
15,1493.8,851.75,2748.746032,1302.649123,194.941176,1285.25,1002.933635,1764.448276,1663.488688,1664.5,...,2235,1653.428571,1295.257143,1621.47549,1364.932203,2201.625,338,2698.75,1410.509434,413

In [80]:
crosstab_courses.shape

(4386, 207)

In [81]:
X = crosstab_courses.values.T
#transposing the matrix

In [82]:
X.shape

(207, 4386)

In [83]:
SVD_courses = TruncatedSVD(n_components = 12, random_state = 17)
resultant_matrix_courses = SVD_courses.fit_transform(X)

In [84]:
resultant_matrix_courses.shape

(207, 12)

In [85]:
corr_mat_courses = np.corrcoef(resultant_matrix_courses)

In [86]:
corr_mat_courses.shape

(207, 207)

In [87]:
courses = crosstab_courses.columns
course_list = list(courses)

In [88]:
web_development = course_list.index('web-development')

In [89]:
print(web_development )

202

In [90]:
corr_web_development = corr_mat_courses[web_development]

In [91]:
list(courses[(corr_web_development< 1.0) & (corr_web_development > 0.7)])

['aspdotnet-mvc3',
 'aspdotnet-mvc3-intro',
 'aspnet-core-mvc-request-life-cycle',
 'full-stack-dot-net-developer-fundamentals',
 'getting-started-aspdotnet-mvcservice-stack-bootstrap',
 'laravel-php-framework-getting-started-the-basics',
 'mvc4',
 'parent-child-data-ef-mvc-knockout-ajax',
 'web-development',
 'web-platform']

In [92]:
def similar_courses(course_name,course_list,corr_mat):
    course_name = course_list.index(course_name)
    corr_course_name = corr_mat[course_name]
    print("Similar Courses:")
    return list(courses[(corr_course_name< 1.0) & (corr_course_name > 0.8)])

In [93]:
similar_courses('mvc4',course_list,corr_mat_courses)

Similar Courses:

['aspdotnet-core-1-0-fundamentals',
 'aspdotnet-mvc2',
 'build-application-framework-aspdotnet-mvc-5',
 'laravel-php-framework-getting-started-the-basics',
 'microsoft-web-technology-comparison',
 'parent-child-data-ef-mvc-knockout-ajax',
 'rebuilding-web-forms-applications-mvc',
 'web-development',
 'web-platform']

In [95]:
course = str(input("enter the course") )

enter the courseweb-platform

In [96]:
similar_courses(course,course_list,corr_mat_courses)

Similar Courses:

['aspdotnet-bestpractices-models',
 'aspdotnet-core-1-0-fundamentals',
 'aspdotnet-mvc2',
 'aspdotnet-mvc3',
 'aspdotnet-mvc3-intro',
 'automated-aspdotnet-mvc',
 'build-application-framework-aspdotnet-mvc-5',
 'getting-started-aspdotnet-mvcservice-stack-bootstrap',
 'html-helper-library-aspdotnet-mvc5',
 'laravel-php-framework-getting-started-the-basics',
 'microsoft-web-technology-comparison',
 'mvc4',
 'mvc4-building',
 'parent-child-data-ef-mvc-knockout-ajax',
 'phoenix-getting-started',
 'web-development',
 'web-platform']

In [97]:
user_interests = frame

In [98]:
user_interests = user_interests.drop('date_followed', axis=1)

In [99]:
courses = pd.read_csv('/Users/vishaladdala/Desktop/GooglePrep/data_files_ml_engineer/course_tags.csv')

In [100]:
courses.head()

                                        course_id       course_tags
0  12-principles-animation-toon-boom-harmony-1475      2d-animation
1              2d-racing-game-series-unity-5-1312       game-design
2             2d-racing-games-unity-volume-2-1286          game-art
3             2d-racing-games-unity-volume-2-1286  digital-painting
4             2d-racing-games-unity-volume-2-1286     image-editing

In [101]:
courses = courses.rename(index=str, columns={"course_tags": "interest_tag"})

In [102]:
combined_course_data = pd.merge(user_interests,courses,on = 'interest_tag')

In [103]:
assessment_scores = pd.read_csv('/Users/vishaladdala/Desktop/GooglePrep/data_files_ml_engineer/user_assessment_scores.csv')

In [104]:
assessment_scores = assessment_scores.drop('user_assessment_date', axis=1)

In [105]:
combined_course_data_sample = combined_course_data.head(1000000)

In [106]:
combined_course_data_with_views = pd.merge(combined_course_data_sample,view_times,on = 'user_handle')

In [107]:
crosstab_users = combined_course_data_with_views.pivot_table(values = 'view_time_seconds',index='course_id_x',columns = 'user_handle',fill_value = 0)

In [108]:
Y = crosstab_users

In [109]:
SVD_users = TruncatedSVD(n_components = 12, random_state = 17)
resultant_matrix_users = SVD_users.fit_transform(Y)

In [110]:
resultant_matrix_users.shape

(237, 12)

In [111]:
corr_mat_users = np.corrcoef(resultant_matrix_users)

In [112]:
users = crosstab_users.columns
users_list = list(users)

In [113]:
user_one = users_list.index(1)
print(user_one)

0

In [114]:
corr_user_one = corr_mat_users[user_one]

In [115]:
list(users[(corr_user_one< 1.0) & (corr_user_one > 0.991)])

/Users/vishaladdala/anaconda/lib/python3.6/site-packages/pandas/core/indexes/base.py:1650: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 4528 but corresponding boolean dimension is 237
  result = getitem(key)

[117,
 136,
 140,
 146,
 190,
 210,
 212,
 214,
 231,
 239,
 252,
 306,
 310,
 318,
 324,
 325,
 327,
 328,
 331,
 332,
 335,
 354,
 412,
 430,
 468,
 483]

In [119]:
def similar_users(user_handle,users,users_list,corr_mat):
    user = users_list.index(user_handle)
    corr_user = corr_mat[user]
    print("Similar Users:")
    return list(users[(corr_user< 1.0) & (corr_user > 0.991)])

In [124]:
user = int(input("enter the user_handle") )

enter the user_handle10

In [125]:
similar_users_list = similar_users(user,users,users_list,corr_mat_users)
print(similar_users_list)

Similar Users:
[10, 117, 136, 140, 146, 190, 210, 212, 214, 231, 239, 252, 306, 310, 318, 324, 325, 327, 328, 331, 332, 335, 354, 412, 430, 468, 483]

/Users/vishaladdala/anaconda/lib/python3.6/site-packages/pandas/core/indexes/base.py:1650: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 4528 but corresponding boolean dimension is 237
  result = getitem(key)